* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(18, 122, 190);
}

@media screen and (max-width: 3840px) {
  .app-body {
    background: white;
    width: 30%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    min-width: 405px;
  }
  .Quiz {
    padding: 20px;
  }
  .Quiz h2 {
    font-size: 17px;
    font-weight: 600;
  }
  .Answer-buttons {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .Answer-buttons .btn {
    width: 48%;
    margin: 2px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 3px;
    border-radius: 4px;
    text-align: left;
    background-color: rgb(242, 248, 255);
    cursor: pointer;
  }
  .Answer-buttons .btn:hover {
    background-color: rgba(62, 63, 63, 0.4156862745);
    color: #fff;
    transition: 0.2s;
    border: 1px solid #222;
    padding: 9px;
  }
  .Answer-buttons .correct {
    background: rgba(75, 239, 75, 0.59);
    color: #504f4f;
  }
  .Answer-buttons .incorrect {
    background: rgba(255, 0, 0, 0.493);
    color: #504f4f;
  }
  #next-btn {
    background-color: rgb(19, 103, 160);
    color: white;
    width: 40%;
    border-radius: 4px;
    padding: 8px;
    margin: 10px auto 0;
    border: 0px;
    display: none;
    cursor: pointer;
  }
  #next-btn:hover {
    background-color: rgb(47, 120, 168);
    transition: 0.2s;
  }
  .question-counter {
    background-color: #fff;
    width: 10%;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .quiz-header {
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    position: relative;
  }
  .quiz-header h1 {
    font-size: 25px;
    font-weight: 600;
    display: inline;
  }
  .quiz-header .timer-clock {
    display: inline;
    position: absolute;
    right: 0;
    font-weight: 600;
  }
  .quiz-header .timer-bar {
    height: 5px;
    width: 100%;
    background: limegreen;
    position: absolute;
    bottom: 0px;
  }
  footer .footerContainer {
    width: 100%;
    margin-top: 500px;
  }
  footer .socialIcons {
    display: flex;
    justify-content: center;
  }
  footer .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  footer .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  footer .socialIcons a:hover {
    background-color: rgb(47, 120, 168);
    transition: 0.2s;
  }
  footer .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }
  footer .footerNav {
    margin: 30px 0;
  }
  footer .footerNav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
  }
  footer .footerNav li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  footer .footerNav li a:hover {
    opacity: 1;
  }
  footer .footerBottom {
    opacity: 50%;
    padding: 20px;
    text-align: center;
  }
  footer .footerBottom .designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
}
@media screen and (max-width: 480px) {
  .app-body {
    background: white;
    width: 80%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    min-width: 300px;
  }
  .Quiz {
    padding: 20px;
  }
  .Quiz h2 {
    font-size: 17px;
    font-weight: 600;
  }
  .Answer-buttons {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .Answer-buttons .btn {
    width: 48%;
    margin: 2px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 3px;
    border-radius: 4px;
    text-align: left;
    background-color: rgb(242, 248, 255);
    cursor: pointer;
  }
  .Answer-buttons .btn:hover {
    background-color: rgba(62, 63, 63, 0.4156862745);
    color: #fff;
    transition: 0.2s;
    border: 1px solid #222;
    padding: 9px;
  }
  .Answer-buttons .correct {
    background: rgba(75, 239, 75, 0.59);
    color: #504f4f;
  }
  .Answer-buttons .incorrect {
    background: rgba(255, 0, 0, 0.493);
    color: #504f4f;
  }
  #next-btn {
    background-color: rgb(19, 103, 160);
    color: white;
    width: 40%;
    border-radius: 4px;
    padding: 8px;
    margin: 10px auto 0;
    border: 0px;
    display: none;
    cursor: pointer;
  }
  #next-btn:hover {
    background-color: rgb(47, 120, 168);
    transition: 0.2s;
  }
  .question-counter {
    background-color: #fff;
    width: 10%;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .quiz-header {
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    position: relative;
  }
  .quiz-header h1 {
    font-size: 25px;
    font-weight: 600;
    display: inline;
  }
  .quiz-header .timer-clock {
    display: inline;
    position: absolute;
    right: 0;
  }
  .quiz-header .timer-bar {
    height: 5px;
    width: 100%;
    background: limegreen;
    position: absolute;
    bottom: 0px;
  }
  footer .footerContainer {
    width: 100%;
    padding: 70;
    margin-top: 500px;
  }
  footer .socialIcons {
    display: flex;
    justify-content: center;
  }
  footer .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  footer .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  footer .socialIcons a:hover {
    background-color: rgb(47, 120, 168);
    transition: 0.2s;
  }
  footer .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }
  footer .footerNav {
    margin: 30px 0;
  }
  footer .footerNav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
  }
  footer .footerNav li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  footer .footerNav li a:hover {
    opacity: 1;
  }
  footer .footerBottom {
    padding: 20px;
    text-align: center;
  }
  footer .footerBottom .designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
}/*# sourceMappingURL=Styles.css.map */