*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:  rgb(18, 122, 190);
}


@media screen and (max-width: 1920px) {
    .app-body{
        background: #ffff;
        width: 30%;
        margin: 100px auto 0;
        border-radius: 10px;
        padding: 30px;
        min-width: 405px;
    }

    h1{
        font-size: 25px;
        font-weight: 600;
        border-bottom: 1px solid #333;
        padding-bottom: 30px;
    }

    .Quiz{
        padding: 20px;

        h2{
            font-size: 17px;
            font-weight: 600;
        }
    }
    
    .Answer-buttons{
        background: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
            

        .btn{
            width: 48%;
            min-width: 145px;
            margin: 2px;
            border: 1px solid #222;
            padding: 10px;
            margin: 10px 3px;
            border-radius: 4px;
            text-align: left;
            background-color: rgb(242, 248, 255);
            cursor: pointer;

            &:hover{
                background-color: #9c9a9a;
                color: #fff;
                transition: 0.4s ease;
                border: 3px solid #222;
            }
        }
        .correct{
            background: rgba(75, 239, 75, 0.59);
            color: #504f4f;
    
        }
        .incorrect{
            background: rgba(255, 0, 0, 0.493);
            color: #504f4f;
        }
    }

    #next-btn{
        background-color: rgb(19, 103, 160);
        color: #ffff;
        width: 40%;
        border-radius: 4px;
        padding: 8px;
        margin: 10px auto 0;
        border: 0px;
        display: none;
        cursor: pointer;

        &:hover{
            background-color: rgb(47, 120, 168);
            transition: 0.2s;
        }
    }

}

@media screen and (max-width: 480px) {
    .app-body{
        background: #ffff;
        width: 80%;
        margin: 100px auto 0;
        border-radius: 10px;
        padding: 30px;
        min-width: 300px;
    }

    h1{
        font-size: 25px;
        font-weight: 600;
        border-bottom: 1px solid #333;
        padding-bottom: 30px;
    }

    .Quiz{
        padding: 20px;

        h2{
            font-size: 17px;
            font-weight: 600;
        }
    }
    
    .Answer-buttons{
        background: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
            

        .btn{
            width: 48%;
            margin: 2px;
            border: 1px solid #222;
            padding: 10px;
            margin: 10px 3px;
            border-radius: 4px;
            text-align: left;
            background-color: rgb(242, 248, 255);
            cursor: pointer;

            &:hover{
                background-color: #3e3f3f6a;
                color: #fff;
                transition: 0.2s;
                border: 2px solid #222;
                padding: 9px;
            }
        }
        .correct{
            background: rgba(75, 239, 75, 0.59);
            color: #504f4f;
        }
    
        .incorrect{
            background: rgba(255, 0, 0, 0.493);
            color: #504f4f;
        }
    }

    #next-btn{
        background-color: rgb(19, 103, 160);
        color: #ffff;
        width: 40%;
        border-radius: 4px;
        padding: 8px;
        margin: 10px auto 0;
        border: 0px;
        display: none;
        cursor: pointer;

        &:hover{
            background-color: rgb(47, 120, 168);
            transition: 0.2s;
            border: 1px solid #222;
        }
    }

    .question-counter{
        background-color: #fff;
        width: 10%;
        position: relative;
        bottom: 0;
        left: 0;
    }
    

}






